ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#viewport {
	width: 500px;
}

#addcmd {
	width: 100%;
}

#commands {
	height: 250px;
	overflow: scroll;
}

#templatecmd > * {
	display: none;
}

.command {
}

.time1 {
}

.time2 {
}

.slider-range {
}

.loop {
}

.rate {
}

.playcmd {
}
.delcmd {
}


