h2.title {
	font-family: monospace;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

#script-controls > h5 {
	display: inline-block;
	width: 20%;
}
#script-controls > input, #script-controls > select {
	display: inline-block;
	width: 65%;
}

#ex_select {
	margin-left: 52px;
}

#ex_label {
	margin-left: 43px;
	margin-top: 10px;
}

div#ex_viewport {
	width: 250px;
}

textarea#ex_editor {
	width: 100%;
	height: 250px;
	font-family: monospace;
}

div#ex_buttons {
	text-align: center;
}


