#viewport {
	width: 1000px;
}

#command-add {
	width: 100%;
}

#commands {
	width: 100%;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#command-template > * {
	display: none;
}

.command > .ui-spinner:nth-child(-n+3) {
	width: 15%;
}

.command > .slider-range {
	width: 30%;
	display:inline-block;
	vertical-align: middle;
}

.command > .ui-spinner:nth-last-of-type(-n+2) {
	width: 10%;
}

input[type="checkbox"] {
	vertical-align: middle;
}


